@import '../../styles/main.scss';

.team {
    padding: 50px 0 80px;
    background-color: $background;

    &__title {
           @media screen and (max-width: 769px){
            margin-bottom: 20px;
            text-align: center;
        }
    }
}