$black: #222222;
$white: #fff;
$light-white: #fefefb;
$background: #ebebeb;
$grey: #665f60;
$light-grey: #7d7a7c;
$purple: #9f9acf;
$light-purple: #dad8e2;
$purple2: #c2bfda;
$darkgrey: #4d5975;

$proximanova: 'ProximaNova';
$ptsans: 'PtSans';