@import './../../styles/main.scss';

.social {
    display: flex;
    flex-wrap: wrap;
    background-color: $purple;
    width: 320px;
    justify-content: center;
    padding: 10px 0;
    align-items: center;

    &__item {
        margin-left: 15px;

        &:hover {
            transform: scale(1.2);
        }
    }
}